<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h1>New Post</h1>
      <form (ngSubmit)="onPostSubmitted()" [formGroup]="postForm">
        <input
          type="text"
          class="col-xl-6"
          formControlName="title"
          placeholder="Title">
        <h1></h1>
        <textarea
          rows="2"
          cols="10"
          class="col-xl-6"
          formControlName="content"
          placeholder="Content">
        </textarea>
        <h1></h1>
        <button
          class="btn btn-outline-success"
          type="submit"
          [disabled]="!postForm.valid">
            Save
        </button>
      </form>
      <h1></h1>
      <hr>
      <div class="row">
        <div class="col-xl-6">
          <h1>Current Posts</h1>
          <p *ngIf="postsArray.length < 1">No posts yet!</p>
          <ul class="list-group" *ngIf="postsArray.length > 0">
            <li
              class="list-group-item"
              *ngFor="let post of postsArray; let i = index">
              <div>
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <button
                  type="button"
                  class="btn btn-outline-dark btn-space"
                  (click)="onEditPressed(i)">
                    Edit
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger"
                  (click)="onDeletePressed(i)">
                  Remove
                </button>
                <hr *ngIf="editControl && postsArray[editPostNumber].id==post.id">
                <div *ngIf="editControl && postsArray[editPostNumber].id==post.id">
                  <form (ngSubmit)="onUpdatePressed(i)" [formGroup]="updateForm">
                    <input
                      type="text"
                      class="col-xl-6"
                      formControlName="updatedTitle"
                      placeholder="Title">
                    <h1></h1>
                    <textarea
                      rows="2"
                      cols="10"
                      class="col-xl-6"
                      formControlName="updatedContent"
                      placeholder="Content">
                    </textarea>
                    <h1></h1>
                    <button
                      type="submit"
                      class="btn btn-outline-success">
                        Update
                    </button>
                  </form>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
